# Byte-compiled files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/
.venv/

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Project data (keep folders, ignore contents)
assets/input/*
!assets/input/.gitkeep
assets/output/*
!assets/output/.gitkeep

# IDE
.vscode/
.idea/
